Authlib==0.14.3
bcrypt==3.2.0
beautifulsoup4==4.9.2
boto3==1.16.26
botocore==1.19.26
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cryptography==3.1
cssselect==1.1.0
cssutils==1.0.2
et-xmlfile==1.0.1
Flask==1.0.2
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
lxml==4.5.2
MarkupSafe==1.1.1
numpy==1.19.2
openpyxl==3.0.5
pandas==1.1.2
paramiko==2.7.2
premailer==3.7.0
pycparser==2.20
PyNaCl==1.4.0
pysftp==0.2.9
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
s3transfer==0.3.3
simple-salesforce==1.10.1
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
Werkzeug==1.0.1
yagmail==0.14.245
